.post-stats{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
}
.post-stats div{
  display: flex;
  align-items: center;
}
.post-stats img{
  width: 15px;
  margin-right: -5px;
}
.liked-users{
  margin-left: 10px;
}
