<div class="sidebar-profile-box">
  <img src="assets/cover-pic.png" width="100%" />
  <div class="sidebar-profile-info">
    <img src="assets/user-1.png" />
    <h1>Anthony Florez</h1>
    <h3>Web Developer at Google</h3>
    <ul>
      <li>Quien ha visto tu Perfil<span>52</span></li>
      <li>Visualizaciones de tu publicacion<span>810</span></li>
      <li>Your connections<span>205</span></li>
    </ul>
  </div>
  <div class="premium">
    <p>Accede a informacion y herramientas exclusivas</p>
    <a href="#"><img src="assets/premium.png" /> Volver a probar Premium</a>
  </div>

  <div class="sidebar-profile-link">
    <a href="#"><img src="assets/items.png" />Marcapáginas</a>
    <!-- <a href="#"><img src="assets/premium.png"> Try Premium</a> -->
  </div>
</div>
