
  <div class="sidebar-people">
    <h3>Añadir a tu feed</h3>
    <div class="sidebar-people-row">
        <img src="assets/user-3.png">
        <div>
            <h2>Maria Perez</h2>
            <p>Head of Marketing at Alkosto</p>
            <a href="#">Conectar</a>
        </div>
    </div>
    <div class="sidebar-people-row">
        <img src="assets/user-4.png">
        <div>
            <h2>Alejandra Torrez</h2>
            <p>Head of Marketing at Almacenes Exito</p>
            <a href="#">Conectar</a>
        </div>
    </div>
    <div class="sidebar-people-row">
        <img src="assets/user-5.png">
        <div>
            <h2>Jose Duque</h2>
            <p>Head of Marketing at Homecenter</p>
            <a href="#">Conectar</a>
        </div>
    </div>
    <div class="sidebar-people-row">
        <img src="assets/user-2.png">
        <div>
            <h2>Jose Lopez</h2>
            <p>Head of Marketing at Movistar</p>
            <a href="#">Conectar</a>
        </div>
    </div>

</div>
