<nav class="navbar">
  <div class="navbar-left">
    <a href="index.html" class="logo"><img src="assets/logo.png" /></a>

    <div class="search-box">
      <img src="assets/search.png" />
      <input type="text" placeholder="Search" />
    </div>
  </div>
  <div class="navbar-center">
    <ul>
      <li>
        <a href="#" class="active-link"
          ><img src="assets/home.png" /> <span>Inicio</span></a
        >
      </li>
      <li>
        <a href="#"><img src="assets/network.png" /> <span>Mi red</span></a>
      </li>
      <li>
        <a href="#"><img src="assets/jobs.png" /> <span>Empleos</span></a>
      </li>
      <li>
        <a href="#"><img src="assets/message.png" /> <span>Mensajes</span></a>
      </li>
      <li>
        <a href="#"
          ><img src="assets/notification.png" />
          <span>Notificaciones</span></a
        >
      </li>
    </ul>
  </div>
  <div class="navbar-right">
    <div class="online">
      <img
        src="assets/user-1.png"
        class="nav-profile-img"
        onclick="toggleMenu()"
      />
    </div>
  </div>
  <!-- --------------- profile-drop-down-menu---------- -->
  <div class="profile-menu-wrap" id="profileMenu">
    <div class="profile-menu">
      <div class="user-info">
        <img src="assets/user-1.png" />
        <div>
          <h3>Rayan Walton</h3>
          <a href="profile.html">Ver Tu Perfil</a>
        </div>
      </div>
      <hr />
      <a href="#" class="profile-menu-link">
        <img src="assets/feedback.png" />
        <p>Give Feedback</p>
        <span>></span>
      </a>
      <a href="#" class="profile-menu-link">
        <img src="assets/setting.png" />
        <p>Settings & Privacy</p>
        <span>></span>
      </a>
      <a href="#" class="profile-menu-link">
        <img src="assets/help.png" />
        <p>Help & Support</p>
        <span>></span>
      </a>
      <a href="#" class="profile-menu-link">
        <img src="assets/display.png" />
        <p>Display & Accessiblity</p>
        <span>></span>
      </a>
      <a href="#" class="profile-menu-link">
        <img src="assets/logout.png" />
        <p>Logout</p>
        <span>></span>
      </a>
    </div>
  </div>
</nav>
