.right-sidebar{
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 73px;
}
.sidebar-news{
  background: #fff;
  padding: 10px 25px;
}
.sidebar-news h6{

  color:#777;
  padding-left: 15px;
  padding-top: 0;
  margin-top: 0;
}
.sidebar-news h5{
  padding-bottom: 0;
  margin-bottom: 10px;
}

.info-icon{
  width: 15px;
  float: right;
  margin-top: 15px;
}

.sidebar-news h3{
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 10px 0 30px;
}
.sidebar-news a{
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: -5px;
}
.sidebar-news span{
  font-size: 12px;
}

.sidebar-news .read-more-link{
 color: #045be6;
 font-weight: 500;
 margin: 20px 0 10px;
}
.sidebar-ad{
  background: #fff;
  padding: 15px 25px;
  text-align: center;
  margin: 12px 0;
  font-size: 12px;
}
.sidebar-ad img{
  width: 60px;
  border-radius: 50%;
  margin: 4px;
}
.sidebar-ad small{
  float: right;
  font-weight: 500;
}
.sidebar-ad p{
  margin-top: 30px;
  margin-bottom: 10px;
}
.sidebar-ad b{
  display: block;
  font-weight: 500;
  margin-top: 10px;
}
.ad-link{
  display: inline-block;
  border: 1px solid #045be6;
  border-radius: 30px;
  padding: 5px 15px;
  color: #045be6;
  font-weight: 500;
  margin: 20px auto 10px;
}
.sidebar-useful-links{
  padding: 15px 25px;
  text-align: center;
}

.sidebar-useful-links a{
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
}
.copyright-msg{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: 10px;
  font-weight: 500;
}
.copyright-msg img{
  width: 18px;
  margin-right: 4px;
}
/* --------profile-right-sidebar----------- */
.profile-sidebar .sidebar-ad{
  margin: 0;
}
.sidebar-people{
  background: #fff;
  padding: 15px 25px;
  margin: 12px 0;
  font-size: 12px;
}
.sidebar-people h3{
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0 20px;
}
.sidebar-people-row{
  display: flex;
  align-items: flex-start;
  margin: 6px 0;
}
.sidebar-people-row img{
  width: 40px;
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 5px;
}
.sidebar-people-row h2{
  font-weight: 500;
  font-size: 16px;
}
.sidebar-people-row a{
  display: inline-block;
  margin: 10px 0;
  padding: 5px 25px;
  border: 1px solid #5f5f5f;
  border-radius: 30px;
  font-weight: 500;
}
.profile-footer{
  padding: 0 6% 30px;
}
.profile-footer .sidebar-useful-links{
  text-align: left;
  padding: 0;
}
.profile-footer .copyright-msg{
  justify-content: flex-start;
}

#showMoreLink{
  display: none;
}
/* -------------media query for small screen --------------- */
@media only screen and (max-width: 600px){
  .search-box{
      background: transparent;
      width: auto;
      padding: 0;
  }
  .search-box input{
      width: 0;
      padding: 0;
  }
  .navbar-center ul li a span{
      display: none;
  }
  .navbar-center ul li a{
      padding-right: 0;
      margin: 5px;
  }
  .nav-profile-img{
      width: 30px;
  }
  .container{
      padding: 15px 3%;
  }
  .left-sidebar, .right-sidebar{
      flex-basis: 100%;
      position: relative;
      top: unset;
  }
  .main-content{
      flex-basis: 100%;
  }
  .post-stats div{
      margin: 2px 0;
  }
  .post-activity-link span{
      display: none;
  }
  .post-activity-link img{
      margin-right: 0;
  }
  .profile-main, .profile-sidebar{
      flex-basis: 100%;
  }
  .profile-container{
      font-size: 14px;
  }
  .profile-pic{
      width: 100px;
      margin-top: -50px;
  }
  .profile-description{
      font-size: 14px;
  }
  #showMoreLink{
      display: block;
      width: fit-content;
      margin: 10px auto;
      font-size: 14px;
      cursor: pointer;
  }
  .sidebar-activity{
      display: none;
  }
  .sidebar-activity.open-activity{
      display: block;
  }
}
