.sidebar-ad{
  background: #fff;
  padding: 15px 25px;
  text-align: center;
  margin: 12px 0;
  font-size: 12px;
}
.sidebar-ad img{
  width: 60px;
  border-radius: 50%;
  margin: 4px;
}
.sidebar-ad small{
  float: right;
  font-weight: 500;
}
.sidebar-ad p{
  margin-top: 30px;
  margin-bottom: 10px;
}
.sidebar-ad b{
  display: block;
  font-weight: 500;
  margin-top: 10px;
}
