<div class="post-activity">
  <div>
    <img src="assets/user-1.png" class="post-activity-user-icon" />
    <img src="assets/down-arrow.png" class="post-activity-arrow-icon" />
  </div>
  <div class="post-activity-link">
    <img src="assets/like.png" />
    <span>Me Gusta</span>
  </div>
  <div class="post-activity-link">
    <img src="assets/comment.png" />
    <span>Comentar</span>
  </div>
  <div class="post-activity-link">
    <img src="assets/share.png" />
    <span>Compartir</span>
  </div>
  <div class="post-activity-link">
    <img src="assets/send.png" />
    <span>Enviar</span>
  </div>
</div>
